<section class="section-1">
  <p class="heading d-flex justify-content-center">A few words about us</p>
  <div class="about-container">
    <div class="row">
      <div class="col-6 about-main">
        <p class="about-heading text-center">"Crafting Unforgettable Travel Experiences"</p>
        <p class="about-info">At <span class="bag-packer">Bag Packer</span> we're passionate about crafting unforgettable travel experiences for adventurers
          around the globe. With a team dedicated to curating the best destinations, unbeatable deals, and exceptional
          services, we strive to make every journey remarkable. Our commitment to excellence ensures that from the
          moment you start planning until you return home, your adventure with us is seamless, stress-free, and filled
          with unforgettable moments. Join us on the journey of a lifetime and let's explore the world together. Welcome
          to Bag Packer where every trip is a story waiting to be told.</p>
      </div>
      <div class="col-6">
        <img src="../../../../assets/Images/kerala-5.jpg" alt="">
      </div>
    </div>
  </div>
  <div class="counter-container text-center">
    <div class="row">
      <div class="col-4">
        <div class="counter-inner">
          <img src="../../../../assets/Images/total-cowuntries.png" alt="">
          <p class="count">20+</p>
          <p class="count-desc">Countries Visited</p>
        </div>
      </div>
      <div class="col-4">
        <div class="counter-inner">
          <img src="../../../../assets/Images/total-trips.png" alt="">
          <p class="count">200+</p>
          <p class="count-desc">Total Trips Organized</p>
        </div>
      </div>
      <div class="col-4">
        <div class="counter-inner">
          <img src="../../../../assets/Images/total-travellers.png" alt="">
          <p class="count">1500+</p>
          <p class="count-desc">Total Travelers Served</p>
        </div>
      </div>
    </div>
  </div>
</section>
