<section class="footer">
  <div class="footer-inner">
    <div class="row">
      <div class="col-4 three-cards">
        <p class="title">About us</p>
        <p class="about-us">Explore seamless travel experiences: top destinations, unbeatable deals, and amazing
          services all in one
          place. </p>
        <div class="call-container">
          <img src="../../../../assets/Images/call-1.png" alt="">
          <span>+91 9850863649</span>
        </div>
        <div class="call-container">
          <img src="../../../../assets/Images/mail.png" alt="">
          <span>nileshkolekar61&#64;gmail.com</span>
        </div>
      </div>
      <div class="col-4 three-cards">
        <p class="title">Latest Tweet</p>
        <div class="latest-tweets">
          <img src="../../../../assets/Images/twitter.png" alt="">
          <p>"Just touched down in #Rajasthan and already mesmerized by its vibrant colors and rich culture! Can't wait
            to explore every corner of this majestic land. #Travel #Adventure"</p>
        </div>
        <div class="latest-tweets">
          <img src="../../../../assets/Images/twitter.png" alt="">
          <p>"Switzerland never fails to take my breath away! From the stunning Alpine vistas to the charming lakeside
            towns, every moment here feels like a fairy tale come true. #Switzerland #Wanderlust"</p>
        </div>
      </div>
      <div class="col-4 three-cards insta">
        <p class="title">Instagram</p>
          <div class="insta-container">
            <img src="../../../../assets/Images/insta-1.jpg" alt="">
            <img src="../../../../assets/Images/insta-2.jpg" alt="">
          </div>
          <div class="insta-container">
            <img src="../../../../assets/Images/insta-4.jpg" alt="">
            <img src="../../../../assets/Images/insta-3.jpg" alt="">
          </div>
      </div>
    </div>
  </div>
</section>
